.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.navBarFinal:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  margin-bottom: 20px;
}
.headersection {
  --plsmc-rc-col-gap: 0px;
}
.headersection {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: linear-gradient(212deg, #ffffff24 0%, #010101 100%) 0% 0% / 100%
      100% repeat,
    url("https://images.unsplash.com/photo-1637459297091-7fe9bc76b745?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80")
      top 50% left 50% / cover repeat;
  min-width: 0;
  padding: 64px 128px;
}
.headersection > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .headersection {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 32px;
    padding-left: 32px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .headersection > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__leZ2A {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__leZ2A > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-uyB8FyBfU));
  height: calc(100% + var(--token-uyB8FyBfU));
}
.column__leZ2A > :global(.__wab_flex-container) > *,
.column__leZ2A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__leZ2A > :global(.__wab_flex-container) > picture > img,
.column__leZ2A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-uyB8FyBfU);
}
.freeBox__cuWbo {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 8px;
  border: 2px solid var(--token-_SJKE-afz);
}
.text__gfvTx {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-_SJKE-afz);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__gfvTx {
    font-size: 12px;
  }
}
.text__rJu1Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50%;
  font-size: 48px;
  font-family: "Syne", sans-serif;
  font-weight: 400;
  color: var(--token-_SJKE-afz);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__rJu1Q {
    max-width: 100%;
  }
}
.button2__aoojX:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___4Mlo {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__w6Sa {
  color: var(--token-_SJKE-afz);
  font-family: "Syne", sans-serif;
}
.svg__sxMvm {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.visionSection {
  --plsmc-rc-col-gap: 0px;
}
.visionSection {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.visionSection > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .visionSection {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .visionSection > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__ehnGh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-xWnLbHkzL);
  min-width: 0;
  padding: 64px 128px;
}
.column__ehnGh > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.column__ehnGh > :global(.__wab_flex-container) > *,
.column__ehnGh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__ehnGh > :global(.__wab_flex-container) > picture > img,
.column__ehnGh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__ehnGh {
    padding: 24px 16px;
  }
}
.freeBox___0YHgk {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #d361345e;
  border-radius: 16px;
  padding: 8px 16px;
  border: 1px solid var(--token-kIXZiwkj8);
}
.text__zsGtt {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-kIXZiwkj8);
}
.freeBox__kyatI {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 70%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kyatI {
    max-width: 100%;
  }
}
@media (max-width: 375px) {
  .freeBox__kyatI {
    max-width: 100%;
  }
}
.text__pha7P {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pha7P {
    width: 100%;
    min-width: 0;
  }
}
.text__hO87T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h3__pwXcF {
  text-align: center;
  color: var(--token-IhGUZWkMP);
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4 {
    color: var(--token-IhGUZWkMP);
    text-align: center;
  }
}
.freeBox__gvdqu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.featuresSection {
  background: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  padding: 32px 24px;
}
.featuresSection > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.featuresSection > :global(.__wab_flex-container) > *,
.featuresSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.featuresSection > :global(.__wab_flex-container) > picture > img,
.featuresSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .featuresSection {
    width: auto;
    padding: 32px 24px;
  }
}
.container {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  padding-left: 32px;
  padding-right: 32px;
}
.container > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.container > :global(.__wab_flex-container) > *,
.container > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container > :global(.__wab_flex-container) > picture > img,
.container
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.heading {
  display: block;
  font-size: 30px;
  text-align: center;
  font-family: "Golos Text", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 36px;
  color: rgba(15, 23, 40, 1);
  align-self: stretch;
  position: relative;
}
.supportingText {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(127, 127, 127, 1);
  position: relative;
}
.container2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.container2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 96px);
  height: calc(100% + 96px);
}
.container2 > :global(.__wab_flex-container) > *,
.container2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container2 > :global(.__wab_flex-container) > picture > img,
.container2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 96px;
}
.content {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
}
.content > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-content: stretch;
  margin-left: calc(0px - var(--token-uyB8FyBfU));
  width: calc(100% + var(--token-uyB8FyBfU));
}
.content > :global(.__wab_flex-container) > *,
.content > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content > :global(.__wab_flex-container) > picture > img,
.content
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-uyB8FyBfU);
}
@media (min-width: 0px) and (max-width: 768px) {
  .content {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .content > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-uyB8FyBfU));
    height: calc(100% + var(--token-uyB8FyBfU));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .content > :global(.__wab_flex-container) > *,
  .content > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .content > :global(.__wab_flex-container) > picture > img,
  .content
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-uyB8FyBfU);
  }
}
.freeBox__v6Okf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.featureText {
  height: auto;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.featureText > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.featureText > :global(.__wab_flex-container) > *,
.featureText > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.featureText > :global(.__wab_flex-container) > picture > img,
.featureText
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .featureText > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .featureText > :global(.__wab_flex-container) > *,
  .featureText > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .featureText > :global(.__wab_flex-container) > picture > img,
  .featureText
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.featuredIcon {
  background: rgba(253, 237, 219, 1);
  box-shadow: 0px 0px 0px 4px rgba(253, 237, 219, 1),
    inset 0px 0px 0px 4px rgba(253, 237, 219, 1);
  width: 48px;
  height: 48px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 28px;
}
.svg__tVDkH {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #f39237;
  width: 24px;
  height: 24px;
  display: block;
  top: 12px;
  left: 12px;
  overflow: hidden;
}
.textAndSupportingText {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.textAndSupportingText > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.textAndSupportingText > :global(.__wab_flex-container) > *,
.textAndSupportingText
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.textAndSupportingText > :global(.__wab_flex-container) > picture > img,
.textAndSupportingText
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__a3Sh {
  display: block;
  font-size: 24px;
  text-align: center;
  font-family: "Golos Text", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 32px;
  color: rgba(15, 23, 40, 1);
  align-self: stretch;
  position: relative;
}
.supportingText2 {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(102, 112, 132, 1);
  align-self: stretch;
  position: relative;
}
.featureText2 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.featureText2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.featureText2 > :global(.__wab_flex-container) > *,
.featureText2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.featureText2 > :global(.__wab_flex-container) > picture > img,
.featureText2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .featureText2 > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .featureText2 > :global(.__wab_flex-container) > *,
  .featureText2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .featureText2 > :global(.__wab_flex-container) > picture > img,
  .featureText2
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.featuredIcon2 {
  background: rgba(253, 237, 219, 1);
  box-shadow: 0px 0px 0px 4px rgba(253, 237, 219, 1),
    inset 0px 0px 0px 4px rgba(253, 237, 219, 1);
  width: 48px;
  height: 48px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 28px;
}
.svg__yvqM2 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #f39237;
  width: 24px;
  height: 24px;
  display: block;
  top: 12px;
  left: 12px;
  overflow: hidden;
}
.textAndSupportingText2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.textAndSupportingText2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.textAndSupportingText2 > :global(.__wab_flex-container) > *,
.textAndSupportingText2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.textAndSupportingText2 > :global(.__wab_flex-container) > picture > img,
.textAndSupportingText2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text2 {
  display: block;
  font-size: 24px;
  text-align: center;
  font-family: "Golos Text", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 32px;
  color: rgba(15, 23, 40, 1);
  align-self: stretch;
  position: relative;
}
.supportingText3 {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(102, 112, 132, 1);
  align-self: stretch;
  position: relative;
}
.freeBox___3UOt8 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.featureText3 {
  height: auto;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.featureText3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.featureText3 > :global(.__wab_flex-container) > *,
.featureText3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.featureText3 > :global(.__wab_flex-container) > picture > img,
.featureText3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .featureText3 > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .featureText3 > :global(.__wab_flex-container) > *,
  .featureText3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .featureText3 > :global(.__wab_flex-container) > picture > img,
  .featureText3
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.featuredIcon3 {
  background: rgba(253, 237, 219, 1);
  box-shadow: 0px 0px 0px 4px rgba(253, 237, 219, 1),
    inset 0px 0px 0px 4px rgba(253, 237, 219, 1);
  width: 48px;
  height: 48px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 28px;
}
.svg__h623V {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #f39237;
  width: 24px;
  height: 24px;
  display: block;
  top: 12px;
  left: 12px;
  overflow: hidden;
}
.textAndSupportingText3 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.textAndSupportingText3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.textAndSupportingText3 > :global(.__wab_flex-container) > *,
.textAndSupportingText3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.textAndSupportingText3 > :global(.__wab_flex-container) > picture > img,
.textAndSupportingText3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text3 {
  display: block;
  font-size: 24px;
  text-align: center;
  font-family: "Golos Text", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 32px;
  color: rgba(15, 23, 40, 1);
  align-self: stretch;
  position: relative;
}
.supportingText4 {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(102, 112, 132, 1);
  align-self: stretch;
  position: relative;
}
.button {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttonBase {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.buttonBase > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.buttonBase > :global(.__wab_flex-container) > *,
.buttonBase > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.buttonBase > :global(.__wab_flex-container) > picture > img,
.buttonBase
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.arrowRight {
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.featureText4 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.featureText4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.featureText4 > :global(.__wab_flex-container) > *,
.featureText4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.featureText4 > :global(.__wab_flex-container) > picture > img,
.featureText4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .featureText4 > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .featureText4 > :global(.__wab_flex-container) > *,
  .featureText4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .featureText4 > :global(.__wab_flex-container) > picture > img,
  .featureText4
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.featuredIcon4 {
  background: rgba(253, 237, 219, 1);
  box-shadow: 0px 0px 0px 4px rgba(253, 237, 219, 1),
    inset 0px 0px 0px 4px rgba(253, 237, 219, 1);
  width: 48px;
  height: 48px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 28px;
}
.svg__awx04 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #f39237;
  width: 24px;
  height: 24px;
  display: block;
  top: 12px;
  left: 12px;
  overflow: hidden;
}
.featuredIcon5 {
  background: rgba(253, 237, 219, 1);
  box-shadow: 0px 0px 0px 4px rgba(253, 237, 219, 1),
    inset 0px 0px 0px 4px rgba(253, 237, 219, 1);
  width: 48px;
  height: 48px;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 28px;
}
.svg___1KPH {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #f39237;
  width: 24px;
  height: 24px;
  display: block;
  top: 12px;
  left: 12px;
  overflow: hidden;
}
.textAndSupportingText4 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.textAndSupportingText4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.textAndSupportingText4 > :global(.__wab_flex-container) > *,
.textAndSupportingText4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.textAndSupportingText4 > :global(.__wab_flex-container) > picture > img,
.textAndSupportingText4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text4 {
  display: block;
  font-size: 24px;
  text-align: center;
  font-family: "Golos Text", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 32px;
  color: rgba(15, 23, 40, 1);
  align-self: stretch;
  position: relative;
}
.supportingText5 {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(102, 112, 132, 1);
  align-self: stretch;
  position: relative;
}
.servicesSection {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(180deg, var(--token-kIXZiwkj8) 0%, #d96c25 100%)
    0% 0% / 100% 100% repeat;
  min-width: 0;
  padding: 64px 128px;
}
.servicesSection > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.servicesSection > :global(.__wab_flex-container) > *,
.servicesSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.servicesSection > :global(.__wab_flex-container) > picture > img,
.servicesSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .servicesSection {
    padding: 32px 24px;
  }
}
.titleSection {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .titleSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.text___3NuFp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h2 {
  color: var(--token-_SJKE-afz);
  padding-bottom: 0px;
}
.button2__t9Auy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__pqUel {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__cObfK {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.columns > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - var(--token-uyB8FyBfU));
  width: calc(100% + var(--token-uyB8FyBfU));
  --plsmc-rc-col-gap: var(--token-uyB8FyBfU);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-uyB8FyBfU);
}
.columns {
  --plsmc-rc-col-gap: 0px;
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 8 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - var(--token-uyB8FyBfU));
    height: calc(100% + var(--token-uyB8FyBfU));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: var(--token-uyB8FyBfU);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__uYw0O {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 24px;
  border: 3px solid var(--token-_SJKE-afz);
}
.column__uYw0O > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__uYw0O > :global(.__wab_flex-container) > *,
.column__uYw0O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__uYw0O > :global(.__wab_flex-container) > picture > img,
.column__uYw0O
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 25%;
  width: 100%;
  min-width: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__ralEc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__br0NX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-_SJKE-afz);
  min-width: 0;
}
.button2___8FNws:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__dUlVx {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__dOnyV {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__l6KUx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: url("https://images.unsplash.com/photo-1535300109616-9e25be1f541f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=793&q=80")
    top 50% left 50% / cover repeat;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__l6KUx {
    display: none;
    padding: 72px;
  }
}
.section {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  min-width: 0;
  grid-template-columns:
    1fr minmax(0, var(--plsmc-wide-chunk)) var(--plsmc-viewport-gap)
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    var(--plsmc-viewport-gap) minmax(0, var(--plsmc-wide-chunk)) 1fr;
  padding: 8px 0;
}
:where(.section > *) {
  grid-column: 4;
}
.teamSection {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  grid-column-end: -2;
  padding: 64px 0px;
}
.teamSection > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.teamSection > :global(.__wab_flex-container) > *,
.teamSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.teamSection > :global(.__wab_flex-container) > picture > img,
.teamSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .teamSection {
    width: 100%;
    justify-self: flex-start;
    grid-column-start: 1;
    grid-column-end: -1;
    padding: 24px;
  }
}
.teamInner {
  background: rgba(247, 249, 251, 1);
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.top {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .top {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
}
.meetTheTeam {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  max-width: 50%;
  min-width: 0;
  padding: 24px 8px;
}
.meetTheTeam > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.meetTheTeam > :global(.__wab_flex-container) > *,
.meetTheTeam > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.meetTheTeam > :global(.__wab_flex-container) > picture > img,
.meetTheTeam
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .meetTheTeam {
    max-width: 100%;
  }
}
.text___17PH {
  display: block;
  font-size: 30px;
  font-family: "Golos Text", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 36px;
  color: rgba(63, 63, 63, 1);
  align-self: stretch;
  position: relative;
  width: auto;
}
.text__hHtHd {
  display: block;
  font-size: 16px;
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(127, 127, 127, 1);
  align-self: stretch;
  position: relative;
  margin-right: 0px;
  padding-right: 0px;
  max-width: 623px;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__hHtHd {
    width: auto;
  }
}
.bottom {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .bottom {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    max-width: 100%;
    align-content: stretch;
    align-self: flex-start;
    min-width: 0;
  }
}
.cmsDataFetcher___51SFb:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: row;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
@media (max-width: 375px) {
  .cmsDataFetcher___51SFb:global(.__wab_instance) {
    display: flex;
    flex-direction: column;
  }
}
.freeBox__bL0AS {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 320px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  background: none;
  min-width: 0;
  padding: 8px;
}
.cmsEntryField__uOl9G:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  min-height: 0;
  border-radius: 8px;
}
.cmsEntryField__tc709:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
}
.cmsEntryField__iQ6CF:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
}
.text___1T1Lt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__ecjuj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.testimonial {
  background: rgba(255, 255, 255, 1);
  width: 1440px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-top: 64px;
  padding-bottom: 64px;
}
.testimonial > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.testimonial > :global(.__wab_flex-container) > *,
.testimonial > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.testimonial > :global(.__wab_flex-container) > picture > img,
.testimonial
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .testimonial {
    width: 100%;
    grid-column-start: 2;
    grid-column-end: -2;
  }
}
.frame26 {
  background: rgba(255, 255, 255, 1);
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.frame26 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 52px);
  height: calc(100% + 52px);
}
.frame26 > :global(.__wab_flex-container) > *,
.frame26 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame26 > :global(.__wab_flex-container) > picture > img,
.frame26
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 52px;
}
.frame25 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  padding: 10px;
}
.frame25 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame25 > :global(.__wab_flex-container) > *,
.frame25 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame25 > :global(.__wab_flex-container) > picture > img,
.frame25
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__cFwF {
  display: block;
  font-size: 36px;
  text-align: center;
  font-family: "Golos Text", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 40px;
  color: rgba(8, 8, 20, 1);
  align-self: stretch;
  position: relative;
}
.text__hovC {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Golos Text", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(23, 23, 26, 1);
  align-self: stretch;
  position: relative;
}
.freeBox__kBkC {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 128px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kBkC {
    padding-right: 24px;
    padding-left: 24px;
  }
}
@media (max-width: 375px) {
  .freeBox__kBkC {
    padding-right: 16px;
    padding-left: 16px;
  }
}
.cmsDataFetcher__hxdab:global(.__wab_instance) {
  display: grid;
  max-width: 160%;
  object-fit: cover;
  position: relative;
  overflow: visible;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
}
@media (max-width: 375px) {
  .cmsDataFetcher__hxdab:global(.__wab_instance) {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    width: 100%;
    max-width: 100%;
    min-width: 0;
  }
}
.freeBox__w3Toh {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  border-radius: 8px;
  padding: 16px;
  border: 1px solid var(--token-Pxe4wDL2kJpb);
}
.cmsEntryField__aXcsG:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;
}
.cmsEntryField__dXnLq:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
}
.freeBox__jfwzj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jfwzj {
    border-radius: 8px;
    border: 1px solid var(--token-Pxe4wDL2kJpb);
  }
}
.cmsEntryField___2R0Ub:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.cmsEntryField__ehXrA:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
}
.text__tMfx8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__dZFa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.buttonPrimaryWithIcon {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  border-radius: 50px;
  padding: 16px;
}
.buttonPrimaryWithIcon > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.buttonPrimaryWithIcon > :global(.__wab_flex-container) > *,
.buttonPrimaryWithIcon
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.buttonPrimaryWithIcon > :global(.__wab_flex-container) > picture > img,
.buttonPrimaryWithIcon
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.frame1 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 9px);
  width: calc(100% + 9px);
}
.frame1 > :global(.__wab_flex-container) > *,
.frame1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame1 > :global(.__wab_flex-container) > picture > img,
.frame1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 9px;
}
.seeAllReviews {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: -0.201px;
  line-height: 28px;
  color: rgba(174, 48, 35, 1);
  position: relative;
}
.freeBox__zT7Ep {
  display: block;
  position: relative;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.icon {
  transform: scale(1.0005563452399868, 0.9998487389133986)
    rotate(-45.040491710229254deg) skew(-0.04046307398010047deg, 0deg);
  width: auto;
  height: auto;
  display: flex;
  transform-origin: top left;
  position: absolute;
  flex-direction: row;
  left: 0px;
  top: 13px;
}
.icon > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.icon > :global(.__wab_flex-container) > *,
.icon > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.icon > :global(.__wab_flex-container) > picture > img,
.icon > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 10px;
}
.svg__frkdn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #af3124;
  width: 18px;
  height: 18px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
}
