.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.auxanoNavbar:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.headersection {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: linear-gradient(212deg, #ffffff24 0%, #010101 100%) 0% 0% / 100%
      100% repeat,
    url("https://images.unsplash.com/photo-1637459297091-7fe9bc76b745?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80")
      top 50% left 50% / cover repeat;
  min-width: 0;
  padding: 64px 128px;
}
.headersection > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .headersection {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 32px;
    padding-left: 32px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .headersection > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__leZ2A {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__leZ2A > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-uyB8FyBfU));
  height: calc(100% + var(--token-uyB8FyBfU));
}
.column__leZ2A > :global(.__wab_flex-container) > *,
.column__leZ2A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__leZ2A > :global(.__wab_flex-container) > picture > img,
.column__leZ2A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-uyB8FyBfU);
}
.column__leZ2A {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.freeBox__cuWbo {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 8px;
  border: 2px solid var(--token-_SJKE-afz);
}
.text__gfvTx {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-_SJKE-afz);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__gfvTx {
    font-size: 12px;
  }
}
.text__rJu1Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50%;
  font-size: 48px;
  font-family: "Syne", sans-serif;
  font-weight: 400;
  color: var(--token-_SJKE-afz);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__rJu1Q {
    max-width: 100%;
  }
}
.button2__aoojX:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___4Mlo {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__w6Sa {
  color: var(--token-_SJKE-afz);
  font-family: "Syne", sans-serif;
}
.svg__sxMvm {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.visionSection {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.visionSection > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .visionSection {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .visionSection > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__ehnGh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-xWnLbHkzL);
  min-width: 0;
  padding: 64px 128px;
}
.column__ehnGh > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.column__ehnGh > :global(.__wab_flex-container) > *,
.column__ehnGh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__ehnGh > :global(.__wab_flex-container) > picture > img,
.column__ehnGh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.column__ehnGh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-xWnLbHkzL);
  min-width: 0;
  padding: 64px 128px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__ehnGh {
    padding: 24px 16px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__ehnGh {
    padding: 24px 16px;
  }
}
.freeBox___0YHgk {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #d361345e;
  border-radius: 16px;
  padding: 8px 16px;
  border: 1px solid var(--token-kIXZiwkj8);
}
.text__zsGtt {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-kIXZiwkj8);
}
.freeBox__kyatI {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 70%;
  min-width: 0;
  padding: 8px;
}
.text__pha7P {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pha7P {
    width: 100%;
    min-width: 0;
  }
}
.text__hO87T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h3__pwXcF {
  text-align: center;
  color: var(--token-IhGUZWkMP);
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4 {
    color: var(--token-IhGUZWkMP);
    text-align: center;
  }
}
.freeBox__gvdqu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.featuresSection {
  background: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  padding: 32px 24px;
}
.featuresSection > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.featuresSection > :global(.__wab_flex-container) > *,
.featuresSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.featuresSection > :global(.__wab_flex-container) > picture > img,
.featuresSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.featuresSection {
  background: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 32px 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .featuresSection {
    width: auto;
    padding: 32px 24px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .featuresSection {
    width: auto;
    padding: 32px 24px;
  }
}
.container {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  padding-left: 32px;
  padding-right: 32px;
}
.container > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.container > :global(.__wab_flex-container) > *,
.container > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container > :global(.__wab_flex-container) > picture > img,
.container
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.container {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-left: 32px;
  padding-right: 32px;
}
.heading {
  display: block;
  font-size: 30px;
  text-align: center;
  font-family: "Golos Text";
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 36px;
  color: rgba(15, 23, 40, 1);
  align-self: stretch;
  position: relative;
}
.supportingText {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Golos Text";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(127, 127, 127, 1);
  position: relative;
}
.container2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.container2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 96px);
  height: calc(100% + 96px);
}
.container2 > :global(.__wab_flex-container) > *,
.container2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container2 > :global(.__wab_flex-container) > picture > img,
.container2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 96px;
}
.container2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.content {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
}
.content > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-uyB8FyBfU));
  width: calc(100% + var(--token-uyB8FyBfU));
}
.content > :global(.__wab_flex-container) > *,
.content > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content > :global(.__wab_flex-container) > picture > img,
.content
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-uyB8FyBfU);
}
.content {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .content {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .content > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-uyB8FyBfU));
    height: calc(100% + var(--token-uyB8FyBfU));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .content > :global(.__wab_flex-container) > *,
  .content > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .content > :global(.__wab_flex-container) > picture > img,
  .content
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-uyB8FyBfU);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}
.freeBox__v6Okf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.featureText {
  height: auto;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.featureText > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.featureText > :global(.__wab_flex-container) > *,
.featureText > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.featureText > :global(.__wab_flex-container) > picture > img,
.featureText
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.featureText {
  height: auto;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .featureText > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .featureText > :global(.__wab_flex-container) > *,
  .featureText > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .featureText > :global(.__wab_flex-container) > picture > img,
  .featureText
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.featuredIcon {
  background: rgba(253, 237, 219, 1);
  box-shadow: 0px 0px 0px 4px rgba(253, 237, 219, 1),
    inset 0px 0px 0px 4px rgba(253, 237, 219, 1);
  width: 48px;
  height: 48px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 28px;
}
.svg__tVDkH {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #f39237;
  width: 24px;
  height: 24px;
  display: block;
  top: 12px;
  left: 12px;
  overflow: hidden;
}
.textAndSupportingText {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.textAndSupportingText > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.textAndSupportingText > :global(.__wab_flex-container) > *,
.textAndSupportingText
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.textAndSupportingText > :global(.__wab_flex-container) > picture > img,
.textAndSupportingText
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.textAndSupportingText {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.text__a3Sh {
  display: block;
  font-size: 24px;
  text-align: center;
  font-family: "Golos Text";
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 32px;
  color: rgba(15, 23, 40, 1);
  align-self: stretch;
  position: relative;
}
.supportingText2 {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Golos Text";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(102, 112, 132, 1);
  align-self: stretch;
  position: relative;
}
.featureText2 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.featureText2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.featureText2 > :global(.__wab_flex-container) > *,
.featureText2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.featureText2 > :global(.__wab_flex-container) > picture > img,
.featureText2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.featureText2 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .featureText2 > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .featureText2 > :global(.__wab_flex-container) > *,
  .featureText2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .featureText2 > :global(.__wab_flex-container) > picture > img,
  .featureText2
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.featuredIcon2 {
  background: rgba(253, 237, 219, 1);
  box-shadow: 0px 0px 0px 4px rgba(253, 237, 219, 1),
    inset 0px 0px 0px 4px rgba(253, 237, 219, 1);
  width: 48px;
  height: 48px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 28px;
}
.svg__yvqM2 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #f39237;
  width: 24px;
  height: 24px;
  display: block;
  top: 12px;
  left: 12px;
  overflow: hidden;
}
.textAndSupportingText2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.textAndSupportingText2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.textAndSupportingText2 > :global(.__wab_flex-container) > *,
.textAndSupportingText2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.textAndSupportingText2 > :global(.__wab_flex-container) > picture > img,
.textAndSupportingText2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.textAndSupportingText2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.text2 {
  display: block;
  font-size: 24px;
  text-align: center;
  font-family: "Golos Text";
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 32px;
  color: rgba(15, 23, 40, 1);
  align-self: stretch;
  position: relative;
}
.supportingText3 {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Golos Text";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(102, 112, 132, 1);
  align-self: stretch;
  position: relative;
}
.freeBox___3UOt8 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.featureText3 {
  height: auto;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.featureText3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.featureText3 > :global(.__wab_flex-container) > *,
.featureText3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.featureText3 > :global(.__wab_flex-container) > picture > img,
.featureText3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.featureText3 {
  height: auto;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .featureText3 > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .featureText3 > :global(.__wab_flex-container) > *,
  .featureText3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .featureText3 > :global(.__wab_flex-container) > picture > img,
  .featureText3
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.featuredIcon3 {
  background: rgba(253, 237, 219, 1);
  box-shadow: 0px 0px 0px 4px rgba(253, 237, 219, 1),
    inset 0px 0px 0px 4px rgba(253, 237, 219, 1);
  width: 48px;
  height: 48px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 28px;
}
.svg__h623V {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #f39237;
  width: 24px;
  height: 24px;
  display: block;
  top: 12px;
  left: 12px;
  overflow: hidden;
}
.textAndSupportingText3 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.textAndSupportingText3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.textAndSupportingText3 > :global(.__wab_flex-container) > *,
.textAndSupportingText3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.textAndSupportingText3 > :global(.__wab_flex-container) > picture > img,
.textAndSupportingText3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.textAndSupportingText3 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.text3 {
  display: block;
  font-size: 24px;
  text-align: center;
  font-family: "Golos Text";
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 32px;
  color: rgba(15, 23, 40, 1);
  align-self: stretch;
  position: relative;
}
.supportingText4 {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Golos Text";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(102, 112, 132, 1);
  align-self: stretch;
  position: relative;
}
.button {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttonBase {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.buttonBase > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.buttonBase > :global(.__wab_flex-container) > *,
.buttonBase > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.buttonBase > :global(.__wab_flex-container) > picture > img,
.buttonBase
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.buttonBase {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.arrowRight {
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.featureText4 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.featureText4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.featureText4 > :global(.__wab_flex-container) > *,
.featureText4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.featureText4 > :global(.__wab_flex-container) > picture > img,
.featureText4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.featureText4 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .featureText4 > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .featureText4 > :global(.__wab_flex-container) > *,
  .featureText4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .featureText4 > :global(.__wab_flex-container) > picture > img,
  .featureText4
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.featuredIcon4 {
  background: rgba(253, 237, 219, 1);
  box-shadow: 0px 0px 0px 4px rgba(253, 237, 219, 1),
    inset 0px 0px 0px 4px rgba(253, 237, 219, 1);
  width: 48px;
  height: 48px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 28px;
}
.svg__awx04 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #f39237;
  width: 24px;
  height: 24px;
  display: block;
  top: 12px;
  left: 12px;
  overflow: hidden;
}
.featuredIcon5 {
  background: rgba(253, 237, 219, 1);
  box-shadow: 0px 0px 0px 4px rgba(253, 237, 219, 1),
    inset 0px 0px 0px 4px rgba(253, 237, 219, 1);
  width: 48px;
  height: 48px;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 28px;
}
.svg___1KPH {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #f39237;
  width: 24px;
  height: 24px;
  display: block;
  top: 12px;
  left: 12px;
  overflow: hidden;
}
.textAndSupportingText4 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.textAndSupportingText4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.textAndSupportingText4 > :global(.__wab_flex-container) > *,
.textAndSupportingText4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.textAndSupportingText4 > :global(.__wab_flex-container) > picture > img,
.textAndSupportingText4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.textAndSupportingText4 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.text4 {
  display: block;
  font-size: 24px;
  text-align: center;
  font-family: "Golos Text";
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 32px;
  color: rgba(15, 23, 40, 1);
  align-self: stretch;
  position: relative;
}
.supportingText5 {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Golos Text";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(102, 112, 132, 1);
  align-self: stretch;
  position: relative;
}
.servicesSection {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(180deg, var(--token-kIXZiwkj8) 0%, #d96c25 100%)
    0% 0% / 100% 100% repeat;
  min-width: 0;
  padding: 64px 128px;
}
.servicesSection > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.servicesSection > :global(.__wab_flex-container) > *,
.servicesSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.servicesSection > :global(.__wab_flex-container) > picture > img,
.servicesSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.servicesSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(180deg, var(--token-kIXZiwkj8) 0%, #d96c25 100%)
    0% 0% / 100% 100% repeat;
  min-width: 0;
  padding: 64px 128px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .servicesSection {
    padding: 32px 24px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .servicesSection {
    padding: 32px 24px;
  }
}
.titleSection {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .titleSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.text___3NuFp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h2 {
  color: var(--token-_SJKE-afz);
  padding-bottom: 0px;
}
.button2__t9Auy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__pqUel {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__cObfK {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.columns__b9542 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.columns__b9542 > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - var(--token-uyB8FyBfU));
  width: calc(100% + var(--token-uyB8FyBfU));
}
.columns__b9542 > :global(.__wab_flex-container) > *,
.columns__b9542 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__b9542 > :global(.__wab_flex-container) > picture > img,
.columns__b9542
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-uyB8FyBfU);
}
.columns__b9542 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__b9542 > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--token-uyB8FyBfU)) * 4 / 12);
}
.columns__b9542 > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--token-uyB8FyBfU)) * 8 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__b9542 {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__b9542 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - var(--token-uyB8FyBfU));
    height: calc(100% + var(--token-uyB8FyBfU));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__b9542 > :global(.__wab_flex-container) > *,
  .columns__b9542 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__b9542 > :global(.__wab_flex-container) > picture > img,
  .columns__b9542
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: var(--token-uyB8FyBfU);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__b9542 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__b9542 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--token-uyB8FyBfU)) * 12 / 12);
  }
}
.column__uYw0O {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 24px;
  border: 3px solid var(--token-_SJKE-afz);
}
.column__uYw0O > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__uYw0O > :global(.__wab_flex-container) > *,
.column__uYw0O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__uYw0O > :global(.__wab_flex-container) > picture > img,
.column__uYw0O
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.column__uYw0O {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  border-radius: 8px;
  padding: 24px;
  border: 3px solid var(--token-_SJKE-afz);
}
.text__ralEc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__br0NX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-_SJKE-afz);
  min-width: 0;
}
.button2___8FNws:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__dUlVx {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__dOnyV {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__l6KUx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: url("https://images.unsplash.com/photo-1535300109616-9e25be1f541f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=793&q=80")
    top 50% left 50% / cover repeat;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__l6KUx {
    padding: 72px;
  }
}
.teamSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 32px 24px;
}
.columns__oJsX {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__oJsX > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 8 / 12);
}
.columns__oJsX > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__oJsX {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__oJsX > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__eO6AR {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__eO6AR > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-uyB8FyBfU));
  height: calc(100% + var(--token-uyB8FyBfU));
}
.column__eO6AR > :global(.__wab_flex-container) > *,
.column__eO6AR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__eO6AR > :global(.__wab_flex-container) > picture > img,
.column__eO6AR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-uyB8FyBfU);
}
.column__eO6AR {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.text__exiyX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___57R2H {
  position: relative;
  width: 450px;
  height: auto;
  max-width: 100%;
}
.column__bojgp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.freeBox__pvMhr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBox__izBnF {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: linear-gradient(0deg, #ce9fff30 0%, #56b9ff 100%) 0% 0% / 100%
      100% repeat,
    url("https://images.unsplash.com/photo-1573497491765-dccce02b29df?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80")
      left 30% top -62% / 100% 100% no-repeat;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.text___3Qbb3 {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-_SJKE-afz);
  font-size: 9px;
  min-width: 0;
}
.text__wjqxo {
  position: relative;
  width: 100px;
  height: auto;
  max-width: 100%;
  font-size: 6px;
}
.freeBox__chqL7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: linear-gradient(0deg, #ce9fff30 0%, #56b9ff 100%) 0% 0% / 100%
      100% repeat,
    url("https://images.unsplash.com/photo-1573497491765-dccce02b29df?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80")
      left 30% top -62% / 100% 100% no-repeat;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.text__xyCsH {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-_SJKE-afz);
  font-size: 9px;
  min-width: 0;
}
.text__jR1Ly {
  position: relative;
  width: 100px;
  height: auto;
  max-width: 100%;
  font-size: 6px;
}
.freeBox__kSO {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: linear-gradient(0deg, #ce9fff30 0%, #56b9ff 100%) 0% 0% / 100%
      100% repeat,
    url("https://images.unsplash.com/photo-1573497491765-dccce02b29df?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80")
      left 30% top -62% / 100% 100% no-repeat;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.text__aari {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-_SJKE-afz);
  font-size: 9px;
  min-width: 0;
}
.text__lSdRs {
  position: relative;
  width: 100px;
  height: auto;
  max-width: 100%;
  font-size: 6px;
}
