.footer {
  background: rgba(247, 249, 251, 1);
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px 64px;
}
.footer > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.footer > :global(.__wab_flex-container) > *,
.footer > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.footer > :global(.__wab_flex-container) > picture > img,
.footer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .footer {
    padding-right: 24px;
    padding-left: 24px;
  }
}
.frame15 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.frame15 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.frame15 > :global(.__wab_flex-container) > *,
.frame15 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame15 > :global(.__wab_flex-container) > picture > img,
.frame15
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
.frame4 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.frame4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame4 > :global(.__wab_flex-container) > *,
.frame4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame4 > :global(.__wab_flex-container) > picture > img,
.frame4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.frame14 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  background: var(--token-IhGUZWkMP);
}
.frame14 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame14 > :global(.__wab_flex-container) > *,
.frame14 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame14 > :global(.__wab_flex-container) > picture > img,
.frame14
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.cta {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  width: auto;
  background: var(--token-kIXZiwkj8);
  padding: 8px;
}
@media (max-width: 375px) {
  .cta {
    justify-content: center;
    align-items: center;
  }
}
.content {
  transform: translate(0.3240000000000123px, 0px);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  background: none;
  min-width: 0;
  padding: 12px;
  margin: 16px;
}
.content > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.content > :global(.__wab_flex-container) > *,
.content > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content > :global(.__wab_flex-container) > picture > img,
.content
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .content {
    padding: 0px;
    margin: 0px;
  }
}
@media (max-width: 375px) {
  .content {
    width: 100%;
    min-width: 0;
    padding: 0px;
    margin: 0px;
  }
}
@media (max-width: 375px) {
  .content > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.frame13 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  background: none;
  padding: 0px;
}
.frame13 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.frame13 > :global(.__wab_flex-container) > *,
.frame13 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame13 > :global(.__wab_flex-container) > picture > img,
.frame13
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
.text__eewQe {
  display: block;
  font-size: 36px;
  text-align: center;
  font-family: "Golos Text", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 40px;
  color: rgba(255, 255, 255, 1);
  position: relative;
  width: auto;
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__eewQe {
    width: 100%;
    font-size: 24px;
    text-align: center;
    min-width: 0;
  }
}
@media (max-width: 375px) {
  .text__eewQe {
    text-align: center;
    margin-right: 0px;
  }
}
.form {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 12px;
}
.form > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 13px);
  width: calc(100% + 13px);
  margin-top: calc(0px - var(--token-uyB8FyBfU));
  height: calc(100% + var(--token-uyB8FyBfU));
}
.form > :global(.__wab_flex-container) > *,
.form > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.form > :global(.__wab_flex-container) > picture > img,
.form > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 13px;
  margin-top: var(--token-uyB8FyBfU);
}
@media (max-width: 375px) {
  .form {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 375px) {
  .form > :global(.__wab_flex-container) {
    justify-content: flex-start;
    align-content: flex-start;
    min-width: 0;
  }
}
.inputTextStyle3 {
  width: 100%;
  height: 60px;
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 0;
  border-radius: 9px;
}
.inputTextStyle3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.inputTextStyle3 > :global(.__wab_flex-container) > *,
.inputTextStyle3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.inputTextStyle3 > :global(.__wab_flex-container) > picture > img,
.inputTextStyle3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.inputLabel2 {
  display: block;
  font-size: 14px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 22px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.frame5 {
  background: rgba(210, 96, 51, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(211, 211, 215, 1);
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  flex-direction: row;
  width: 100%;
  min-width: 0;
  border-radius: 5px;
  padding: 17px 16px 17px 20px;
}
.frame5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 13px);
  width: calc(100% + 13px);
}
.frame5 > :global(.__wab_flex-container) > *,
.frame5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame5 > :global(.__wab_flex-container) > picture > img,
.frame5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 13px;
}
@media (max-width: 375px) {
  .frame5 {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 375px) {
  .frame5 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.icon2 {
  width: 18px;
  height: 18px;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-shrink: 0;
}
.icon2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.icon2 > :global(.__wab_flex-container) > *,
.icon2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.icon2 > :global(.__wab_flex-container) > picture > img,
.icon2 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 10px;
}
.svg__ov4XQ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #a1a1aa;
  width: 18px;
  height: 18px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.enterEmailToGetStarted2 {
  display: block;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 26px;
  color: rgba(255, 255, 255, 1);
  position: relative;
  width: 227px;
  flex-shrink: 0;
}
.buttonPrimaryWithIcon {
  background: rgba(8, 8, 20, 1);
  width: 100%;
  height: 60px;
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 0;
  border-radius: 9px;
  padding: 16px;
}
.buttonPrimaryWithIcon > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.buttonPrimaryWithIcon > :global(.__wab_flex-container) > *,
.buttonPrimaryWithIcon
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.buttonPrimaryWithIcon > :global(.__wab_flex-container) > picture > img,
.buttonPrimaryWithIcon
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.frame1 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 9px);
  width: calc(100% + 9px);
}
.frame1 > :global(.__wab_flex-container) > *,
.frame1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame1 > :global(.__wab_flex-container) > picture > img,
.frame1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 9px;
}
.buttonName {
  display: block;
  font-size: 16px;
  text-align: right;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: -0.201px;
  line-height: 28px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.icon3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.icon3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.icon3 > :global(.__wab_flex-container) > *,
.icon3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.icon3 > :global(.__wab_flex-container) > picture > img,
.icon3 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 10px;
}
.svg__crXkq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #f9fafb;
  width: 18px;
  height: 18px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.logo {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.logo > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 39px);
  height: calc(100% + 39px);
}
.logo > :global(.__wab_flex-container) > *,
.logo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.logo > :global(.__wab_flex-container) > picture > img,
.logo > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 39px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .logo > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .logo > :global(.__wab_flex-container) > *,
  .logo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .logo > :global(.__wab_flex-container) > picture > img,
  .logo
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.logo21 {
  width: auto;
  height: 67px;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  flex-shrink: 0;
}
.logo21 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.logo21 > :global(.__wab_flex-container) > *,
.logo21 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.logo21 > :global(.__wab_flex-container) > picture > img,
.logo21
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.layer2 {
  width: 220px;
  height: 67px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.layer1 {
  width: 220px;
  height: 67px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg__fqnwO {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #231f20;
  transform: translate(-0.1559999999999917px, -0.4209999999999994px);
  width: 18px;
  height: 18px;
  display: block;
  top: 25.56%;
  left: 50.14%;
}
.svg__vSiFl {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #231f20;
  transform: translate(0.4660000000000082px, -0.4209999999999994px);
  width: 16px;
  height: 19px;
  display: block;
  top: 25.56%;
  left: 58.34%;
}
.svg__pxmoe {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #231f20;
  transform: translate(-0.0759999999999934px, -0.4209999999999994px);
  width: 18px;
  height: 18px;
  display: block;
  top: 25.56%;
  left: 66.54%;
}
.svg__htB0V {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #231f20;
  transform: translate(0.18500000000000227px, -0.4209999999999994px);
  width: 18px;
  height: 18px;
  display: block;
  top: 25.56%;
  left: 74.75%;
}
.svg__gUxuM {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #231f20;
  transform: translate(-0.31399999999999295px, -0.4209999999999994px);
  width: 16px;
  height: 18px;
  display: block;
  top: 25.56%;
  left: 83.87%;
}
.svg__lhoP {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #231f20;
  transform: translate(0.4480000000000075px, 0.3309999999999995px);
  width: 17px;
  height: 19px;
  display: block;
  top: 24.06%;
  left: 92.07%;
}
.text__db1ZX {
  display: block;
  font-size: 8.6px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 100%;
  color: rgba(34, 30, 31, 1);
  position: absolute;
  top: 58.64%;
  left: 50.14%;
  width: 49.49%;
  height: 19.54%;
  transform: translate(-0.4159999999999968px, 0.07699999999999818px);
}
.svg__nvpy {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #231f20;
  transform: translate(0.32399999999999807px, -0.30599999999999916px);
  width: 2px;
  height: 42px;
  display: block;
  top: 19.54%;
  left: 43.75%;
}
.img__tYgd3 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  transform: translate(0.1769999999999996px, 0.28300000000000125px);
  width: 38px;
  height: 45px;
  display: block !important;
  top: 33.08%;
  left: 15.95%;
}
.img__tYgd3 > picture > img {
  object-fit: cover;
}
.img__tYgd3 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img___00DdR {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 42px;
  height: 67px;
  display: block !important;
  top: 0%;
  left: 0%;
}
.img___00DdR > picture > img {
  object-fit: cover;
}
.img___00DdR > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__bxWy1 {
  display: block;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 22px;
  color: rgba(81, 81, 90, 1);
  position: relative;
  width: 248px;
}
.frame12 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.frame12 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 19px);
  height: calc(100% + 19px);
}
.frame12 > :global(.__wab_flex-container) > *,
.frame12 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame12 > :global(.__wab_flex-container) > picture > img,
.frame12
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 19px;
}
.frame6 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.frame6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame6 > :global(.__wab_flex-container) > *,
.frame6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame6 > :global(.__wab_flex-container) > picture > img,
.frame6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.widgwts {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  padding-top: 0px;
}
.widgwts > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.widgwts > :global(.__wab_flex-container) > *,
.widgwts > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.widgwts > :global(.__wab_flex-container) > picture > img,
.widgwts
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .widgwts > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-uyB8FyBfU));
    height: calc(100% + var(--token-uyB8FyBfU));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .widgwts > :global(.__wab_flex-container) > *,
  .widgwts > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .widgwts > :global(.__wab_flex-container) > picture > img,
  .widgwts
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-uyB8FyBfU);
  }
}
.freeBox__yccL {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 8px;
}
.freeBox__yccL > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - var(--token-uyB8FyBfU));
  width: calc(100% + var(--token-uyB8FyBfU));
  margin-top: calc(0px - var(--token-uyB8FyBfU));
  height: calc(100% + var(--token-uyB8FyBfU));
}
.freeBox__yccL > :global(.__wab_flex-container) > *,
.freeBox__yccL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yccL > :global(.__wab_flex-container) > picture > img,
.freeBox__yccL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-uyB8FyBfU);
  margin-top: var(--token-uyB8FyBfU);
}
.frame9 {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
}
.frame9 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame9 > :global(.__wab_flex-container) > *,
.frame9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame9 > :global(.__wab_flex-container) > picture > img,
.frame9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.widget2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.widget2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.widget2 > :global(.__wab_flex-container) > *,
.widget2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.widget2 > :global(.__wab_flex-container) > picture > img,
.widget2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.helpMenu {
  display: block;
  font-size: 13px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 18px;
  color: rgba(174, 48, 35, 1);
  position: relative;
}
.aboutFeaturesWorks {
  display: block;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 22px;
  position: relative;
}
.aboutFeaturesWorks6 {
  display: block;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 22px;
  position: relative;
}
.aboutFeaturesWorks7 {
  display: block;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 22px;
  position: relative;
}
.aboutFeaturesWorks8 {
  display: block;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 22px;
  position: relative;
}
.frame10 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame10 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame10 > :global(.__wab_flex-container) > *,
.frame10 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame10 > :global(.__wab_flex-container) > picture > img,
.frame10
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.widget1 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.widget1 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.widget1 > :global(.__wab_flex-container) > *,
.widget1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.widget1 > :global(.__wab_flex-container) > picture > img,
.widget1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.helpMenu2 {
  display: block;
  font-size: 13px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 18px;
  color: rgba(174, 48, 35, 1);
  position: relative;
}
.aboutFeaturesWorks2 {
  display: block;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 22px;
  color: rgba(81, 81, 90, 1);
  position: relative;
  padding-bottom: 0px;
}
.aboutFeaturesWorks9 {
  display: block;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 22px;
  color: rgba(81, 81, 90, 1);
  position: relative;
  padding-bottom: 0px;
}
.aboutFeaturesWorks10 {
  display: block;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 22px;
  color: rgba(81, 81, 90, 1);
  position: relative;
  padding-bottom: 0px;
}
.aboutFeaturesWorks11 {
  display: block;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 22px;
  color: rgba(81, 81, 90, 1);
  position: relative;
  padding-bottom: 0px;
}
.frame16 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame16 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame16 > :global(.__wab_flex-container) > *,
.frame16 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame16 > :global(.__wab_flex-container) > picture > img,
.frame16
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.widget3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.widget3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.widget3 > :global(.__wab_flex-container) > *,
.widget3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.widget3 > :global(.__wab_flex-container) > picture > img,
.widget3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.helpMenu3 {
  display: block;
  font-size: 13px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 18px;
  color: rgba(174, 48, 35, 1);
  position: relative;
}
.aboutFeaturesWorks3 {
  display: block;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 22px;
  position: relative;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .aboutFeaturesWorks3 {
    margin-left: 0px;
  }
}
.aboutFeaturesWorks12 {
  display: block;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 22px;
  position: relative;
  padding-bottom: 0px;
}
.aboutFeaturesWorks13 {
  display: block;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 22px;
  position: relative;
  padding-bottom: 0px;
}
.aboutFeaturesWorks14 {
  display: block;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 22px;
  position: relative;
  padding-bottom: 0px;
}
.frame11 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame11 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame11 > :global(.__wab_flex-container) > *,
.frame11 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame11 > :global(.__wab_flex-container) > picture > img,
.frame11
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.widget4 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.widget4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.widget4 > :global(.__wab_flex-container) > *,
.widget4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.widget4 > :global(.__wab_flex-container) > picture > img,
.widget4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.helpMenu4 {
  display: block;
  font-size: 13px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 18px;
  color: rgba(174, 48, 35, 1);
  position: relative;
}
.aboutFeaturesWorks4 {
  display: block;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 22px;
  color: rgba(81, 81, 90, 1);
  position: relative;
}
.aboutFeaturesWorks15 {
  display: block;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 22px;
  color: rgba(81, 81, 90, 1);
  position: relative;
}
.aboutFeaturesWorks16 {
  display: block;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 22px;
  color: rgba(81, 81, 90, 1);
  position: relative;
}
.aboutFeaturesWorks17 {
  display: block;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 22px;
  color: rgba(81, 81, 90, 1);
  position: relative;
}
.frame17 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame17 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame17 > :global(.__wab_flex-container) > *,
.frame17 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame17 > :global(.__wab_flex-container) > picture > img,
.frame17
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.widget5 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.widget5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-uyB8FyBfU));
  height: calc(100% + var(--token-uyB8FyBfU));
}
.widget5 > :global(.__wab_flex-container) > *,
.widget5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.widget5 > :global(.__wab_flex-container) > picture > img,
.widget5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-uyB8FyBfU);
}
.helpMenu5 {
  display: block;
  font-size: 13px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 18px;
  color: rgba(174, 48, 35, 1);
  position: relative;
}
.aboutFeaturesWorks5 {
  display: block;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 22px;
  position: relative;
}
.aboutFeaturesWorks18 {
  display: block;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 22px;
  position: relative;
}
.aboutFeaturesWorks19 {
  display: block;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 22px;
  position: relative;
}
.aboutFeaturesWorks20 {
  display: block;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 22px;
  position: relative;
}
.frame18 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 0;
}
.frame18 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame18 > :global(.__wab_flex-container) > *,
.frame18 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame18 > :global(.__wab_flex-container) > picture > img,
.frame18
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.bottomFooter {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 100%;
  border-top-style: solid;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  min-width: 0;
  padding: 8px;
  border-width: 1px;
  border-color: #eaeaea;
}
.bottomFooter > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  min-width: 0;
  margin-top: calc(0px - 39px);
  height: calc(100% + 39px);
}
.bottomFooter > :global(.__wab_flex-container) > *,
.bottomFooter > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.bottomFooter > :global(.__wab_flex-container) > picture > img,
.bottomFooter
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 39px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .bottomFooter {
    width: auto;
  }
}
.freeBox__cerVg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  padding: 8px;
}
.copyright {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 22px;
  color: rgba(112, 112, 121, 1);
  padding: 8px;
}
.img__i5Mfx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 168px;
  height: 48px;
  display: flex !important;
  flex-direction: column;
  flex-shrink: 0;
  padding: 10px;
}
.img__i5Mfx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.img__i5Mfx > :global(.__wab_flex-container) > *,
.img__i5Mfx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.img__i5Mfx > :global(.__wab_flex-container) > picture > img,
.img__i5Mfx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.img__i5Mfx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 168px;
  height: 48px;
  display: flex !important;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  padding: 10px;
}
.img__i5Mfx > picture > img {
  object-fit: cover;
}
.img__i5Mfx > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
