.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    1fr minmax(0, var(--plsmc-wide-chunk)) var(--plsmc-viewport-gap)
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    var(--plsmc-viewport-gap) minmax(0, var(--plsmc-wide-chunk)) 1fr;
}
:where(.root > *) {
  grid-column: 4;
}
.auxanoNavbar:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
}
.frame26 {
  background: linear-gradient(
        112.83deg,
        rgba(70, 84, 104, 1) 22.81%,
        rgba(0, 0, 0, 0) 77.85%
      )
      0% 0% / 100% 100% no-repeat,
    url("./images/frame26.jpg") center center / cover no-repeat;
  width: 1440px;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 127px 134px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame26 {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: -1;
    padding: 24px 32px;
  }
}
.header {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
}
.header > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.header > :global(.__wab_flex-container) > *,
.header > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.header > :global(.__wab_flex-container) > picture > img,
.header
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.header {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.content > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.content > :global(.__wab_flex-container) > *,
.content > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content > :global(.__wab_flex-container) > picture > img,
.content
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.content {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame39 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  border-radius: 12px;
  padding: 10px;
}
.frame39 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame39 > :global(.__wab_flex-container) > *,
.frame39 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame39 > :global(.__wab_flex-container) > picture > img,
.frame39
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.frame39 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 12px;
  padding: 10px;
}
.text__nbVh2 {
  display: block;
  font-size: 14px;
  font-family: "Golos Text";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.text__l3YZm {
  display: block;
  font-size: 36px;
  font-family: "Syne", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 40px;
  align-self: stretch;
  position: relative;
  color: var(--token-_SJKE-afz);
}
.section__kuPeI {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-template-columns:
    1fr minmax(0, var(--plsmc-wide-chunk)) var(--plsmc-viewport-gap)
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    var(--plsmc-viewport-gap) minmax(0, var(--plsmc-wide-chunk)) 1fr;
  padding: 8px 0;
}
:where(.section__kuPeI > *) {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__kuPeI {
    height: 845px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  :where(.section__kuPeI > *) {
    grid-column: 4;
  }
}
.freeBox__y7IPg {
  background: rgba(255, 255, 255, 1);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  grid-column-end: -2;
  padding: 16px;
}
.freeBox__y7IPg > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__y7IPg > :global(.__wab_flex-container) > *,
.freeBox__y7IPg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__y7IPg > :global(.__wab_flex-container) > picture > img,
.freeBox__y7IPg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__y7IPg {
  background: rgba(255, 255, 255, 1);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  grid-column-start: 2;
  grid-column-end: -2;
  padding: 16px;
}
.frame27 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  padding: 10px;
}
.frame27 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame27 > :global(.__wab_flex-container) > *,
.frame27 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame27 > :global(.__wab_flex-container) > picture > img,
.frame27
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.frame27 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}
.text___81GA {
  display: block;
  font-size: 48px;
  font-family: "Golos Text";
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 48px;
  color: rgba(95, 95, 95, 1);
  position: relative;
}
.frame35 {
  height: 692px;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  flex-shrink: 0;
}
.frame35 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 29px);
  width: calc(100% + 29px);
}
.frame35 > :global(.__wab_flex-container) > *,
.frame35 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame35 > :global(.__wab_flex-container) > picture > img,
.frame35
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 29px;
}
.frame35 {
  height: 692px;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame35 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame35 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame35 > :global(.__wab_flex-container) > *,
  .frame35 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .frame35 > :global(.__wab_flex-container) > picture > img,
  .frame35
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame35 {
    display: flex;
    flex-direction: column;
  }
}
._1 {
  width: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  padding: 24px;
}
._1 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
._1 > :global(.__wab_flex-container) > *,
._1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
._1 > :global(.__wab_flex-container) > picture > img,
._1 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 24px;
}
._1 {
  width: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px;
}
.text__dirdA {
  display: block;
  font-size: 30px;
  font-family: "Golos Text";
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 36px;
  color: rgba(95, 95, 95, 1);
  position: relative;
  width: auto;
}
.text__ymaZf {
  display: block;
  font-size: 16px;
  font-family: "Golos Text";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(95, 95, 95, 1);
  align-self: flex-start;
  position: relative;
}
.button {
  background: linear-gradient(
      180deg,
      rgba(176, 80, 36, 1) 0%,
      rgba(225, 113, 36, 1) 99%
    )
    0% 0% / 100% 100% no-repeat;
  width: auto;
  height: 44px;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  flex-shrink: 0;
  border-radius: 4px;
  padding: 10px 16px;
}
.button > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.button > :global(.__wab_flex-container) > *,
.button > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.button > :global(.__wab_flex-container) > picture > img,
.button
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.button {
  background: linear-gradient(
      180deg,
      rgba(176, 80, 36, 1) 0%,
      rgba(225, 113, 36, 1) 99%
    )
    0% 0% / 100% 100% no-repeat;
  width: auto;
  height: 44px;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 4px;
  padding: 10px 16px;
}
.text__kWtDb {
  display: block;
  font-size: 16px;
  font-family: "Golos Text";
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.svg__bpM3J {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 20px;
  height: 20px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.imageGallery {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frame32 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 16px;
}
.frame32 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.frame32 > :global(.__wab_flex-container) > *,
.frame32 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame32 > :global(.__wab_flex-container) > picture > img,
.frame32
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.frame32 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px;
}
.rectangle5 {
  background: url("./images/rectangle5.jpg") center center / cover no-repeat,
    rgba(216, 216, 216, 1);
  width: 190px;
  height: 330px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 12px;
}
.frame34 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 80px 16px;
}
.frame34 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.frame34 > :global(.__wab_flex-container) > *,
.frame34 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame34 > :global(.__wab_flex-container) > picture > img,
.frame34
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.frame34 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 80px 16px;
}
.rectangle4 {
  background: url("./images/rectangle4.jpg") center center / cover no-repeat,
    rgba(216, 216, 216, 1);
  width: 190px;
  height: 330px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 12px;
}
.rectangle6 {
  background: url("./images/rectangle6.jpg") center center / cover no-repeat,
    rgba(216, 216, 216, 1);
  width: 190px;
  height: 330px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 12px;
}
.frame33 {
  width: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  padding: 16px;
}
.frame33 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.frame33 > :global(.__wab_flex-container) > *,
.frame33 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame33 > :global(.__wab_flex-container) > picture > img,
.frame33
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.frame33 {
  width: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px;
}
.rectangle7 {
  background: url("./images/rectangle7.jpg") center center / cover no-repeat,
    rgba(216, 216, 216, 1);
  width: 190px;
  height: 330px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 12px;
}
.rectangle8 {
  background: url("./images/rectangle8.jpg") center center / cover no-repeat,
    rgba(216, 216, 216, 1);
  width: 190px;
  height: 330px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 12px;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 8px;
}
.frame37 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  min-width: 0;
  padding: 10px;
}
.frame37 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame37 > :global(.__wab_flex-container) > *,
.frame37 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame37 > :global(.__wab_flex-container) > picture > img,
.frame37
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.frame37 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  padding: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame37 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame37 > :global(.__wab_flex-container) {
    flex-wrap: nowrap;
    align-items: stretch;
    flex-direction: column;
    align-content: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame37 > :global(.__wab_flex-container) > *,
  .frame37 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .frame37 > :global(.__wab_flex-container) > picture > img,
  .frame37
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame37 {
    flex-wrap: nowrap;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: flex-start;
  }
}
.frame36 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  min-width: 0;
}
.frame36 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 29px);
  width: calc(100% + 29px);
}
.frame36 > :global(.__wab_flex-container) > *,
.frame36 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame36 > :global(.__wab_flex-container) > picture > img,
.frame36
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 29px;
}
.frame36 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame36 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame36 > :global(.__wab_flex-container) {
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame36 > :global(.__wab_flex-container) > *,
  .frame36 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .frame36 > :global(.__wab_flex-container) > picture > img,
  .frame36
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame36 {
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
    display: flex;
    flex-direction: column;
  }
}
.imageGallery2 {
  width: 100%;
  height: 510px;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .imageGallery2 {
    justify-content: center;
    align-items: center;
    width: auto;
  }
}
.frame38 {
  width: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  min-width: 0;
  padding: 16px;
}
.frame38 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.frame38 > :global(.__wab_flex-container) > *,
.frame38 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame38 > :global(.__wab_flex-container) > picture > img,
.frame38
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.frame38 {
  width: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  padding: 16px;
}
.rectangle9 {
  background: url("./images/rectangle9.jpg") center center / cover no-repeat,
    rgba(216, 216, 216, 1);
  height: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  max-width: 100%;
  width: 100%;
  flex-direction: row;
  min-width: 0;
  min-height: 0;
  border-radius: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rectangle9 {
    width: auto;
    padding-right: 462px;
  }
}
._2 {
  width: 644px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  flex-shrink: 0;
  padding: 24px;
}
._2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
._2 > :global(.__wab_flex-container) > *,
._2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
._2 > :global(.__wab_flex-container) > picture > img,
._2 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 24px;
}
._2 {
  width: 644px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  padding: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  ._2 {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  ._2 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  ._2 {
    width: 100%;
    min-width: 0;
  }
}
.ourTeam {
  display: block;
  font-size: 30px;
  font-family: "Golos Text";
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 36px;
  color: rgba(95, 95, 95, 1);
  position: relative;
}
.text___118S {
  display: block;
  font-size: 16px;
  font-family: "Golos Text";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(95, 95, 95, 1);
  align-self: stretch;
  position: relative;
}
.button2 {
  background: linear-gradient(
      180deg,
      rgba(176, 80, 36, 1) 0%,
      rgba(225, 113, 36, 1) 99%
    )
    0% 0% / 100% 100% no-repeat;
  width: auto;
  height: 44px;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  flex-shrink: 0;
  border-radius: 4px;
  padding: 10px 16px;
}
.button2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.button2 > :global(.__wab_flex-container) > *,
.button2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.button2 > :global(.__wab_flex-container) > picture > img,
.button2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.button2 {
  background: linear-gradient(
      180deg,
      rgba(176, 80, 36, 1) 0%,
      rgba(225, 113, 36, 1) 99%
    )
    0% 0% / 100% 100% no-repeat;
  width: auto;
  height: 44px;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 4px;
  padding: 10px 16px;
}
.text2 {
  display: block;
  font-size: 16px;
  font-family: "Golos Text";
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.svg__hlzql {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 20px;
  height: 20px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.section__kiuie {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-template-columns:
    1fr minmax(0, var(--plsmc-wide-chunk)) var(--plsmc-viewport-gap)
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    var(--plsmc-viewport-gap) minmax(0, var(--plsmc-wide-chunk)) 1fr;
  padding: 8px 0;
}
:where(.section__kiuie > *) {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  :where(.section__kiuie > *) {
    grid-column: 4;
  }
}
.frame3 {
  width: 1440px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.frame3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame3 > :global(.__wab_flex-container) > *,
.frame3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3 > :global(.__wab_flex-container) > picture > img,
.frame3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.frame3 {
  width: 1440px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame3 {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: -1;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame3 {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: -1;
  }
}
.footer:global(.__wab_instance) {
  position: relative;
  align-self: stretch;
}
@media (min-width: 0px) and (max-width: 768px) {
  .footer:global(.__wab_instance) {
    width: 100%;
    max-width: 752px;
    min-width: 0;
  }
}
