.services {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.navBarFinal:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.frame26 {
  background: linear-gradient(
        112.83deg,
        rgba(70, 84, 104, 1) 22.81%,
        rgba(0, 0, 0, 0) 77.85%
      )
      0% 0% / 100% 100% no-repeat,
    url("./images/frame26.jpg") center center / cover no-repeat;
  width: 1440px;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 127px 134px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame26 {
    width: 100%;
    min-width: 0;
    padding: 24px 32px;
  }
}
.header {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
}
.header > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.header > :global(.__wab_flex-container) > *,
.header > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.header > :global(.__wab_flex-container) > picture > img,
.header
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.header {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.content > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.content > :global(.__wab_flex-container) > *,
.content > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content > :global(.__wab_flex-container) > picture > img,
.content
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.content {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame39 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  border-radius: 12px;
  padding: 10px;
}
.frame39 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame39 > :global(.__wab_flex-container) > *,
.frame39 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame39 > :global(.__wab_flex-container) > picture > img,
.frame39
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.frame39 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 12px;
  padding: 10px;
}
.text__klvHm {
  display: block;
  font-size: 14px;
  font-family: "Golos Text";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.text__mxoF {
  display: block;
  font-size: 36px;
  font-family: "Syne", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 40px;
  align-self: stretch;
  position: relative;
  color: var(--token-_SJKE-afz);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__mxoF {
    font-size: 24px;
    line-height: 24px;
  }
}
@media (max-width: 375px) {
  .text__mxoF {
    font-size: 18px;
    line-height: 20px;
  }
}
.section {
  background: rgba(255, 255, 255, 1);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  min-width: 0;
  padding: 64px 128px;
}
.section > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.section > :global(.__wab_flex-container) > *,
.section > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section > :global(.__wab_flex-container) > picture > img,
.section
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.section {
  background: rgba(255, 255, 255, 1);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  padding: 64px 128px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section {
    padding: 24px 16px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section {
    padding: 24px 16px;
  }
}
.frame27 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  padding: 10px;
}
.frame27 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame27 > :global(.__wab_flex-container) > *,
.frame27 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame27 > :global(.__wab_flex-container) > picture > img,
.frame27
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.frame27 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}
.text__dUtOo {
  display: block;
  font-size: 36px;
  font-family: "Golos Text";
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 40px;
  color: rgba(95, 95, 95, 1);
  position: relative;
}
.columns__bxgUt {
  --plsmc-rc-col-gap: 0px;
}
.columns__bxgUt {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__bxgUt > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__bxgUt > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 8 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bxgUt {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bxgUt > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__gp29 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
._1 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  border-radius: 8px;
  padding: 24px;
  border: 2px solid var(--token-kIXZiwkj8);
}
._1 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
._1 > :global(.__wab_flex-container) > *,
._1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
._1 > :global(.__wab_flex-container) > picture > img,
._1 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 24px;
}
._1 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 24px;
  border: 2px solid var(--token-kIXZiwkj8);
}
@media (min-width: 0px) and (max-width: 768px) {
  ._1 {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  ._1 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  ._1 {
    width: 100%;
    min-width: 0;
  }
}
.img__vGhFf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 35px;
  height: 35px;
  display: block !important;
  flex-shrink: 0;
}
.img__vGhFf > picture > img {
  object-fit: cover;
}
.img__vGhFf > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__xZbmV {
  display: block;
  font-size: 24px;
  font-family: "Golos Text";
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 32px;
  color: rgba(95, 95, 95, 1);
  position: relative;
  width: 315px;
}
@media (max-width: 375px) {
  .text__xZbmV {
    width: 275px;
  }
}
.text__kzIUn {
  display: block;
  font-size: 16px;
  font-family: "Golos Text";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(95, 95, 95, 1);
  position: relative;
  width: 330px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__kzIUn {
    width: 644px;
  }
}
@media (max-width: 375px) {
  .text__kzIUn {
    width: 270px;
  }
}
.button {
  background: linear-gradient(
      180deg,
      rgba(176, 80, 36, 1) 0%,
      rgba(225, 113, 36, 1) 99%
    )
    0% 0% / 100% 100% no-repeat;
  width: auto;
  height: 44px;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  flex-shrink: 0;
  border-radius: 4px;
  padding: 10px 16px;
}
.button > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.button > :global(.__wab_flex-container) > *,
.button > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.button > :global(.__wab_flex-container) > picture > img,
.button
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.button {
  background: linear-gradient(
      180deg,
      rgba(176, 80, 36, 1) 0%,
      rgba(225, 113, 36, 1) 99%
    )
    0% 0% / 100% 100% no-repeat;
  width: auto;
  height: 44px;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 4px;
  padding: 10px 16px;
}
.text__rUxni {
  display: block;
  font-size: 16px;
  font-family: "Golos Text";
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.svg___9CvC {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 20px;
  height: 20px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.column__cEwyk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.rectangle3 {
  background: url("./images/rectangle1.jpg") center center / cover no-repeat,
    rgba(216, 216, 216, 1);
  display: block;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rectangle3 {
    display: none;
  }
}
.columns__smo5A {
  --plsmc-rc-col-gap: 0px;
}
.columns__smo5A {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__smo5A > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 8 / 12);
}
.columns__smo5A > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__smo5A {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__smo5A > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__p6SPk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.rectangle2 {
  background: url("./images/rectangle3.jpg") center center / cover no-repeat,
    rgba(216, 216, 216, 1);
  display: block;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rectangle2 {
    background: url("./images/rectangle3.jpg") center center / cover no-repeat;
    display: none;
  }
}
.column__tl7E {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
._2 {
  filter: drop-shadow(0px 1px 1.5px rgba(0, 0, 0, 0.1))
    drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.059));
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  border-radius: 8px;
  padding: 24px;
  border: 3px solid var(--token-kIXZiwkj8);
}
._2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
._2 > :global(.__wab_flex-container) > *,
._2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
._2 > :global(.__wab_flex-container) > picture > img,
._2 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 24px;
}
._2 {
  filter: drop-shadow(0px 1px 1.5px rgba(0, 0, 0, 0.1))
    drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.059));
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 24px;
  border: 3px solid var(--token-kIXZiwkj8);
}
@media (min-width: 0px) and (max-width: 768px) {
  ._2 {
    width: 100%;
    max-width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  ._2 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  ._2 {
    width: 100%;
    max-width: 100%;
    min-width: 0;
  }
}
.img___2Ku1W {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 35px;
  height: 35px;
  display: block !important;
  overflow: hidden;
  flex-shrink: 0;
}
.img___2Ku1W > picture > img {
  object-fit: cover;
}
.img___2Ku1W > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__ekXne {
  display: block;
  font-size: 24px;
  font-family: "Golos Text";
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 32px;
  color: rgba(95, 95, 95, 1);
  position: relative;
  width: 315px;
  box-shadow: none;
}
.text__ynE0A {
  display: block;
  font-size: 16px;
  font-family: "Golos Text";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(95, 95, 95, 1);
  position: relative;
  width: 330px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ynE0A {
    width: 648px;
  }
}
@media (max-width: 375px) {
  .text__ynE0A {
    width: 270px;
  }
}
.button2 {
  background: linear-gradient(
      180deg,
      rgba(176, 80, 36, 1) 0%,
      rgba(225, 113, 36, 1) 99%
    )
    0% 0% / 100% 100% no-repeat;
  width: auto;
  height: 44px;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  flex-shrink: 0;
  border-radius: 4px;
  padding: 10px 16px;
}
.button2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.button2 > :global(.__wab_flex-container) > *,
.button2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.button2 > :global(.__wab_flex-container) > picture > img,
.button2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.button2 {
  background: linear-gradient(
      180deg,
      rgba(176, 80, 36, 1) 0%,
      rgba(225, 113, 36, 1) 99%
    )
    0% 0% / 100% 100% no-repeat;
  width: auto;
  height: 44px;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 4px;
  padding: 10px 16px;
}
.text2 {
  display: block;
  font-size: 16px;
  font-family: "Golos Text";
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.svg__nuFgh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 20px;
  height: 20px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
