.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    height: auto;
  }
}
.navbar {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  background: #ffffff;
  max-width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
  padding: 12px 70px;
}
.navbar > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.navbar > :global(.__wab_flex-container) > *,
.navbar > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navbar > :global(.__wab_flex-container) > picture > img,
.navbar
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
.navbar {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  max-width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
  padding: 12px 70px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    padding: 12px 48px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .navbar > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: calc(0px - 56px);
    width: calc(100% + 56px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .navbar > :global(.__wab_flex-container) > *,
  .navbar > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .navbar > :global(.__wab_flex-container) > picture > img,
  .navbar
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 56px;
    margin-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 12px 48px;
  }
}
.logo21 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  min-width: 0;
}
.logo21 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.logo21 > :global(.__wab_flex-container) > *,
.logo21 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.logo21 > :global(.__wab_flex-container) > picture > img,
.logo21
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.logo21 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .logo21 {
    position: relative;
    left: auto;
    top: auto;
    height: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .logo21 {
    position: relative;
    left: auto;
    top: auto;
    height: auto;
  }
}
.img {
  position: relative;
  object-fit: fill;
  max-width: 65%;
  height: auto;
  width: auto;
}
.img > picture > img {
  object-fit: fill;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: fill;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img {
    height: auto;
    width: auto;
    max-width: 45%;
  }
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg {
    display: block;
  }
}
.links {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .links {
    position: relative;
    left: auto;
    top: auto;
    display: none;
  }
}
.linkItem {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  padding: var(--token-uyB8FyBfU);
}
.linkItem > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.linkItem > :global(.__wab_flex-container) > *,
.linkItem > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.linkItem > :global(.__wab_flex-container) > picture > img,
.linkItem
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.linkItem {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--token-uyB8FyBfU);
}
.text__uz2P {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(14, 22, 41, 1);
  position: relative;
}
.linkItem2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  padding: var(--token-uyB8FyBfU);
}
.linkItem2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.linkItem2 > :global(.__wab_flex-container) > *,
.linkItem2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.linkItem2 > :global(.__wab_flex-container) > picture > img,
.linkItem2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.linkItem2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--token-uyB8FyBfU);
}
.text__kPo3Q {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(14, 22, 41, 1);
  position: relative;
}
.linkItem3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  padding: var(--token-uyB8FyBfU);
}
.linkItem3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: stretch;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.linkItem3 > :global(.__wab_flex-container) > *,
.linkItem3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.linkItem3 > :global(.__wab_flex-container) > picture > img,
.linkItem3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.linkItem3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: stretch;
  padding: var(--token-uyB8FyBfU);
}
.text__eAun2 {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(14, 22, 41, 1);
  position: relative;
  width: 100%;
  min-width: 0;
}
.linkItem4 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-self: auto;
  padding: var(--token-uyB8FyBfU);
}
.linkItem4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.linkItem4 > :global(.__wab_flex-container) > *,
.linkItem4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.linkItem4 > :global(.__wab_flex-container) > picture > img,
.linkItem4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.linkItem4 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: auto;
  padding: var(--token-uyB8FyBfU);
}
.text__dGgBc {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(14, 22, 41, 1);
  position: relative;
}
.navItems {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  min-width: 0;
  padding: 12px;
}
.navItems > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.navItems > :global(.__wab_flex-container) > *,
.navItems > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navItems > :global(.__wab_flex-container) > picture > img,
.navItems
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.navItems {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  padding: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navItems {
    position: relative;
    left: auto;
    top: auto;
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .navItems {
    position: relative;
    left: auto;
    top: auto;
    display: none;
  }
}
.button {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  min-width: 0;
  border-radius: 5px;
  padding: 12px 18px;
}
.button > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.button > :global(.__wab_flex-container) > *,
.button > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.button > :global(.__wab_flex-container) > picture > img,
.button
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.button {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  border-radius: 5px;
  padding: 12px 18px;
}
.getInTouch {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 20px;
  color: rgba(210, 96, 51, 1);
  position: relative;
}
.button2 {
  background: rgba(210, 96, 51, 1);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  min-width: 0;
  border-radius: 5px;
  padding: 12px var(--token-uyB8FyBfU) 12px 18px;
}
.button2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.button2 > :global(.__wab_flex-container) > *,
.button2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.button2 > :global(.__wab_flex-container) > picture > img,
.button2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.button2 {
  background: rgba(210, 96, 51, 1);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  border-radius: 5px;
  padding: 12px var(--token-uyB8FyBfU) 12px 18px;
}
.text__klc5V {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 20px;
  color: rgba(247, 249, 251, 1);
  position: relative;
  width: auto;
  padding: 0px;
}
